*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fond{
    background: #1e3932;
    color: #fff;
    width: 100%;
}

.image-fond img{
    width: 100vw;
    align-items: center;
    padding: 70px 80px ;
   
}

#lien {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    /* padding: 20px; */
    text-decoration: none;
    margin-left: 40%;
}

.texte h1{
    font-size: 3.5rem;
    font-style: inherit;
    padding: 15px;
    margin-left: 25%;
}

.texte p{
    font-size: 1.2rem;
    font-family: Verdana;
    padding: 50px 40px;
    margin: 0 auto;
    width: 50%;
}

figure >a{
    color: #fff;
    font-size: 1.4rem;
    /* padding: 5px; */
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    /* letter-spacing: 1.3px; */
    text-transform: uppercase;
    white-space: nowrap;
    text-align:center;
    margin-left: 100px;

}

hr{
    border: 1px solid greenyellow;
}


.image1 {
    display: flex;
    align-items: center;
    background: rgba(128, 128, 128, 0.74);
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
  
  .fonds {
    flex: 1;
    
  }
  
  .fonds img {
    max-width: 100%;
    padding: 20px;
    height:70vh;
    width: 600px; 
    transition: transform 3s ease-in-out;
  }
  
  .text {
    flex: 1;
    font-size: 18px; /* decrease the text size */
  }


  
.cafe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin-left: 90px;
    gap: 20px;
}

.autres{
    background: rgba(128, 128, 128, 0.171);
}

.img-zoom {
  transition: transform 0.5s ease-in-out;
}

.img-zoom:hover {
  transform: scale(1.1);
}

.titre h1{
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}


  
  @media (max-width: 850px) {
    .fonds img {
    margin-top: 20%;
     width:100vw;
     height: 50vh;
    }

    .image1{
        flex-direction: column-reverse;
        
    }
  
    .text {
      width: 100vw;
      height: 100vh;
      font-size: 10px;
       margin-top: 250px;
    }

    #lien{
      text-align: center;
      margin-left: 150px;
    }

    .texte h1{
      font-size: 20px;
      /* padding: 20px; */
    }

    .texte p{
      width: 300px;
      font-size: 15px;
    }

    .img-fluid{
      position: relative;
      width: 100%;
      height: 100%;
      margin-right: 100px;
      
    }
    figure>a{
      font-size: 0.6em;
    }

    .cafe{
      width: 100%;
    }
  }