*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fond{
    background: rgb(2, 57, 2);
    width: 50%;
    color: #fff;
    padding: 20px ;
    margin-top: 100px;
    margin-left: 100px;
    box-shadow: 10px 5px 5px rgba(61, 52, 52, 0.571)
}

section h1{
    text-align: center;
}

section p{
    font-size: 10px;
    margin-left: 100px;
    font-style: italic;
    font-weight: bold;
}

.gauche img{
    margin-left: 400px;
}

.galleries{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 50px;
}

.menus{
    flex: 1;
}
@media screen and (max-width:768px) {
    .fond{
        width: 100%;
        height: auto;
        /* margin-left: 90px; */
    }

    .fond p{
        margin-right: 170px;
        font-size: 0.7rem;
    }
}
    
   