*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.gallery-conteneurs {
    width: 500px;
    margin-bottom: 20px;
     box-shadow: 0 1px 3px rgba(15, 215, 35, 0.744), 0 1px 2px rgba(0, 0, 0, 0.822);
    transition: transform 0.7s; 
}

.gallery-conteneurs:hover{
    border: 1px solid rgb(183, 174, 174);
    transform: translateY(-15px);
}

.gallery-image h2{
    font-family: Arial, Helvetica, sans-serif;
}

.gallery-image span{
    background: gray;
    font-size: 3rem;
    
}


.gallery-image {
    text-align: center; 
    flex-direction: row;
}

.gallery-image img {
    width: 50%;
    mix-blend-mode: multiply;
}