*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    background: rgb(14, 134, 36);
    padding: 50px;
    position: relative;
    width: 100%;
}

.logo img{
    position: relative;
    width: 10vh;
    margin-left: 10vh;

    
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1rem;
    width: 10vw;
    padding:  0 10px;
}
 .Recherche{
    font-size: 1rem;
 }

 .btn{
    color: #fff;
    font-size: 1rem;
    background: gray;
 }

.conteneur{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteneur .conteneur-image{
    width: 100vw;
    display: flex;
    padding-right: 100px;
    margin-top: 60px;
    justify-content: flex-end;

}

.conteneur .conteneur-image img{
    width: 200px;
    animation: slideIn 1s ease-out;
}

 .text-box{
    position: relative;
    width: 500px;
    left: 5%;
}
 .text-box h2{
    color: #333;
    font-size: 3rem;
}
  .text-box h2 span{
    color: #017143;
    font-size: 1em;
    font-weight: 900;
}
 .text-box p{
    color: #333;
    font-size: 1rem;
}



.thumb{
    position: absolute;
    left: 60%;
    top: 70%;
    transform: translateX(-50%);
    display: flex;
    /* background: red; */
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    padding:15px ;
    cursor: pointer;
    transition: 0.5s;
    /* gap: 50px; */
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 3vw;
    mix-blend-mode: multiply;
}




.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(14, 134, 36);
    clip-path: circle(500px at right 800px);
    z-index: -1;

}


@keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}


footer{
    background: rgb(14, 134, 36);
    padding: 100px;
}


/* Médias queries pour rendre le texte responsive */
@media screen and (max-width: 768px) {
    .circle{
        top: 2%;
        left: 20px;
        max-width: 20px;
        height: 20px;
        clip-path: circle(20px at right 30px);
    }

    .conteneur{
        flex-direction: column;
        align-items: center;
      }
    
      .conteneur .conteneur-image {
        width: 100%;
        padding-right: 0;
        margin-top: 0;
        justify-content: center;
    }
    
    .conteneur .conteneur-image img {
        width: 80%;
        animation: slideInFromTop 1s ease-out ;
    }
    
      .text-box {
        margin-top:200px ;
          width: 500px;
          left: 0;
          text-align: center;
      }
     
      .text-box h2 {
          color: #333;
          font-size: 3rem;
      }
      
      .text-box h2 span {
        color: #017143;
        font-size: 1em;
        font-weight: 900;
      }
      
      .text-box p {
          color: #232824;
          font-size: 1rem;
      }

      .thumb {
        position: absolute;
        margin-top:100px ;
        left: 50%;
        top: 0;
        transform: translateX(-50%) translateY(-100%);
        display: flex;
        animation: slideInFromTop 1s ease-out infinite;
      }

     

    .thumb li img{
        width: 100vw;
        height: auto;
    }
    
      @keyframes slideInFromTop {
        0% {
          transform: translateX(-50%) translateY(-100%);
          opacity: 0;
        }
        100% {
          transform: translateX(-50%) translateY(0);
          opacity: 1;
        }
      }
    }
    

    
    
