<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>site e-commerce starbucks</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/nourriture.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
     crossorigin="anonymous"></script>
</head>
<body>

  
  <header>
    <nav class="navbar navbar-expand-lg navigation">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="#"><img src="/assets/img/Starbucks-1.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/menu.html">Menu</a>
            </li>

            <li class="nav-link">
              <a  class="nav-link"  href="/view/art-cafe.html">L'art du café</a>
            </li>
            
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control  barre" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success Recherche" type="submit">Recherche</button>
          </form>
        </div>
      </div>
    </nav>
   </header>



  <main class="containers-gallery container-fluid">
        <section class="gallery">
            <article class="gallery-conteneurs col-md-12 ">
                <figure class="gallery-image col-md-12">
                    <img src="/assets/img/trio_de_Pancakes.jpg" alt="trio_de_Pancakes">
                   <figure>
                     
                    <h5>trio de Pancaskes</h5>
                    <p>Servi avec un nappage au choix
                    </p>
                   </figure>
                </figure>
               </article>
            
            
                <article class="gallery-conteneurs ">
                    <figure class="gallery-image col-md-12">
                        <img src="/assets/img/Cinnamon Roll Cuit sur Place.jpg.jpeg" alt="Cinnamon">
                       <figure>
                        
                        <h5>Cinnamon Roll</h5>
                        <p>
                          Roulé à la cannelle avec un nappage au sucre
                        </p>
                       </figure>
                    </figure>
                   </article>
        
            
        
                <article class="gallery-conteneurs ">
                    <figure class="gallery-image col-md-12">
                        <img src="/assets/img/Donut_Blanc.jpg" alt="Donut_Blanc">
                        <figure>
                          
                          <h5>Donut Blanc</h5>
                          <p>Beignet recouvert d’un glaçage marbré blanc et noir </p>
                        </figure>
                    </figure>
                   </article>

                   <article class="gallery-conteneurs ">
                    <figure class="gallery-image col-md-12">
                        <img src="/assets/img/Sandwich_Tomates_Mozzarella .jpg" alt="Sandwich_Tomates_Mozzarella">
                        <figure>
                         
                          <h5>Tomato é Mozzarella Sandwich </h5>
                          <p>Pain spécial garni de tomates séchées, mozzarella 
                            et huile d'olive au basilic </p>
                          </figure>
                    </figure>
                   </article>


                   <article class="gallery-conteneurs ">
                    <figure class="gallery-image col-md-12">
                        <img src="/assets/img/Chicken_Cajun_Club.jpg" alt=" Chicken_Cajun_Club">

                        <figure>
                          
                          <h2>Chicken Cajun Club</h2>
                          <p>Pain de mie garni de poulet aux épices cajun, 
                            cheddar et confit d’oignon</p>
                        </figure>
                    </figure>
                   </article>
                   <article class="gallery-conteneurs ">
                       <figure class="gallery-image col-md-12">
                           <img src="/assets/img/Ranch_Vegetarian_Wrap.jpg" alt="Ranch_Vegetarian_Wrap">
                         <figure>
          
                          <h2>Ranch Vegetarian Wrap</h2>
                          <p>Wrap avec nugget au soja et blé GARDEN GOURMET avec une sauce à base de yaourt, oignons frits et épinard</p>
                         </figure>
                       </figure>
                      </article>
           
                      <article class="gallery-conteneurs ">
                       <figure class="gallery-image col-md-12">
                           <img src="/assets/img/Toastie_Jambon_Fromage.jpg" alt="Toastie_Jambon_Fromage">
                         <figure>
                          
                          <h2>Ham & Cheese Toastie</h2>
                          <p>Façon "croque-monsieur" gratiné au fromage, avec moutarde américaine et jambon
                          </p>
                         </figure>
                       </figure>
                      </article>
           
                      <article class="gallery-conteneurs ">
                       <figure class="gallery-image col-md-12">
                           <img src="/assets/img/Vuna Bagel.jpg" alt=" Vuna">
                           <figure>
                            <h5>Vuna Bagel</h5>
                            <p>Bagel avec spécialité de soja Garden GourmetTM « façon thon », fromage et pousse d’épinard
                            </p>
                         
                           </figure>
                       </figure>
                      </article>

                      <article class="gallery-conteneurs ">
                        <figure class="gallery-image col-md-12">
                            <img src="/assets/img/SBX_DEL_1200x1200_White_Macadamia_Cookie.jpg.jpeg" alt="cookie">
                            <figure>
                             
                            <h5>Cookie Blanc & Macadamia</h5>
                            <p>Biscuit rond aux pépites de chocolat blanc avec éclats de noix de macadamia</p>
                            </figure>
                        </figure>
                       </article>
        </section>

    

  </main>

  
</body>
</html>